@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Fuentes*/
    --font-primary: "Roboto", sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size: 16px;

    /*Colores*/
    --primary-color-red: hsl(4, 100%, 67%);
    --primary-color-blue-800: hsl(234, 29%, 20%);
    --primary-color-blue-700: hsl(235, 18%, 26%);
    --primary-color-grey: hsl(0, 0%, 58%);
    --primary-color-white: hsl(0, 0%, 100%);


}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-primary);
    background-color: var(--primary-color-blue-800);
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/*UTILS*/
.hidden {
    display: none !important;
}

.wrapper {
    width: min(100%, 1220px);

    margin: 0 auto;
}


/*PRODUCT DETAIL*/
main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.form__products {

    display: flex;
    gap: 1rem;
    width: 900px;
    height: 600px;
    

    overflow: hidden;
    border-radius: 15px;

    padding: 1rem 1rem 1rem 2rem;

    background-color: var(--primary-color-white);
}

.section__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: center;
    padding: 1rem;
}

.form__paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__title {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);

    font-size: 3.5rem;
    color: var(--primary-color-blue-800);
}

.form__text {
    color: var(--primary-color-blue-700);
    font-weight: var(--font-weight-regular);
}

.form__points {
    color: var(--primary-color-blue-700);

    font-weight: var(--font-weight-regular);

    display: flex;

    gap: 1rem;

}

.form__email {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.form__email {
    color: var(--primary-color-blue-800);
    font-weight: var(--font-weight-bold);

    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.form__input {
    padding: 1rem;
    border: none;
    border: 1px solid var(--primary-color-grey);
    border-radius: 1rem;

    cursor: pointer;
}

input[type=submit] {
  background-color: var(--primary-color-blue-800);
  color: var(--primary-color-white);
  cursor: pointer;
   
  font-weight: var(--font-weight-bold);
  font-size: 1rem;

  padding: 1rem 1rem 1rem 1rem;
  border: none;
  border-radius: .5rem;
  
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: var(--primary-color-red);

} 


