@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Fuentes*/
    --font-primary: "Roboto", sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size: 16px;

    /*Colores*/
    --primary-color-red: hsl(4, 100%, 67%);
    --primary-color-blue-800: hsl(234, 29%, 20%);
    --primary-color-blue-700: hsl(235, 18%, 26%);
    --primary-color-grey: hsl(0, 0%, 58%);
    --primary-color-white: hsl(0, 0%, 100%);


}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-primary);
    background-color: var(--primary-color-blue-800);
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/*UTILS*/
.hidden {
    display: none !important;
}

.wrapper {
    width: min(100%, 1220px);

    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.subscript  {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--primary-color-white);
    border-radius: 3rem;
    overflow: hidden;

    padding: 4rem;

    width: 530px;
    height: 550px;

    align-items: flex-start;
    justify-content: center;
}

.subscript__img {
    width: 4rem;
    height: auto;


}


.subscript__title {
    font-size: 4rem;
}

.subscript__text {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    
}

.subscript__button {
    background-color: var(--primary-color-blue-800);
    color: var(--primary-color-white);
    

    border: none;
    border-radius: .5rem;

    padding: 1.3rem 9rem;

    margin: auto;

    text-align: center;

    font-weight: var(--font-weight-bold);
    font-size: 12px;

    


    
}

.subscript__button:hover {
    background-color: var(--primary-color-red);

    cursor: pointer;
}