body {
  background-color: hsl(216, 15%, 48%);

  font-size: 15px;

  font-family: "Outfit", sans-serif;

  display: flex;
  flex-direction: column;

  gap: 25px;

  justify-content: center;

  align-items: center;

  height: 100vh;

  margin: 0;
}

main {
  /* border: 1px solid red; */

  width: 250px;

  padding: 15px;

  background-color: hsl(0, 0%, 100%);

  border-radius: 15px;

  text-align: center;
}

.logo_principal {
  width: 220px;
  height: auto;

  margin: 0; /*Para que se vea igual en todos los navegadores*/
}

img {
  border-radius: 15px;
}

h1 {
  font-size: 20px;

  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(216, 15%, 48%);
}