body {
    background-color: hsl(0, 0%, 8%);

    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
 
    margin: 0;

    font-family: "Inter", sans-serif;
    font-size: 14px;

}

main {
    display: block;

    justify-content: center;

    background-color: hsl(0, 0%, 12%);
    
    width: 400px;

    height: 600px;

    padding: 14px;

    border-radius: 14px;

    text-align: center;

}


img {
  border-radius: 50%;
 width: 150px;

}

h1 {
    color: hsl(0, 0%, 100%);
    margin: 0;
}

.ubicacion {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
}

.profesion {
    color: hsl(0, 0%, 100%);

    letter-spacing: 1px;
    
    margin-top: 28px;
}

.caja_botones {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 14px;

    margin: 28px;

}

.caja_botones button {
    padding: 14px;
    
    width: 320px;

   font-weight: 700;

    border: 0;

    border-radius: 7px;

    background-color: hsl(0, 0%, 20%);

    color: hsl(0, 0%, 100%);

}
